<nav class="navbar">
    <div id="navlinks">
        <!-- the a html tag - anchor - specifies a link                 -->
        <!-- here we are specifing the URL path for the link            -->
        <!-- when a link is clicked the path in the href= will be added -->
        <!--      to the server-name:port in the URL                    -->   
        <a href="/Home">Home</a>
        &nbsp; &nbsp; 
        <a href="/Inquiries">Contact Us</a>
        &nbsp; &nbsp; 
        <a href="/Examples">Designs</a>
        &nbsp; &nbsp; 
        <a href="/Associates">Meet The Team</a>
        &nbsp; &nbsp; 
        <a href="/Calendar">Online Meetings</a>
    </div>
</nav>
   